h2 {
	opacity: 0;
	animation: appear 1s 3s forwards;
}

.container {
	margin: 4em;
	text-align: center;
	font-family: sans-serif;
}

.loader {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 16px solid #bdc3c7;
	width: 100px;
	height: 100px;
	border-left: 16px solid #1abc9c;
	border-right: 16px solid #3498db;
	border-radius: 50%;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(360deg) scale(1.05);
		border-left-color: #9b59b6;
		border-right-color: #9b59b6;
	}
	100% {
		transform: rotate(720deg) scale(1);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}