p {
	width: 50px;
	height: 50px;
	background-color: #1abc9c;
}

.move-right {
	background-color: steelblue;
	transform: translateX(100px);
}

.move-down {
	background-color: goldenrod;
	transform: translateY(20px);
}

p:hover {
	transform: translate(20px, 20px);
}