.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	background-color: #cc0042;
/*	flex-basis: 200px;
	flex-grow: 1; */	
	flex: 1 1 200px;
	font-family: sans-serif;
	color: white;
	padding: 20px;
	transition: 0.1s background-color;
}

.middle {
	background-color: #b20039;
}

.box:hover {
	background-color: #ff0052;
}

h3 {
	font-size: 25px;
}